<% if user_signed_in? %>
<div id="contact_form" class="drop_light">
  <h3>Ask this Vendor a Question:</h3>

  <%= form_for @message do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :text %>
      <%= f.text_area :text, :size => "38x5" %>
      <%= f.hidden_field :supplier_id, :value => @supplier.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    
    <%= f.submit %>
  <% end %>
</div>
<% end %>

