<ul>
  <li><b>Location Name:</b><%= @location.location_name %></li>
  <li><b>Address1:</b> <%= @location.address1 %></li>
  <li><b>Address2:</b> <%= @location.address2 %></li>
  <li><b>City:</b> <%= @location.city %></li>
  <li><b>State:</b> <%= State.find_by_id(@location.state_id).name %></li>
  <li><b>Zipcode:</b> <%= @location.zipcode %></li>
  <li><b>Country:</b> <%= Country.find_by_id(@location.country_id) %></li>
  <li><b>Supplier:</b> <%= Supplier.find_by_id(@location.supplier).name %></li>
</ul>
