<h3>New Pickup Location</h3>
<%= form_for [:admin, @pickup_location] do |f| %>
  <ul>
    <li>
    <%= f.label :location_name %>:
    <br />
    <%= f.text_field :location_name %>
    </li>
    <li>
    <%= f.label :address1 %>:
    <br />
    <%= f.text_field :address1 %>
    </li>
    <li>
    <%= f.label :address2 %>
    <br />
    <%= f.text_field :address2 %>
    </li>
    <li>
    <%= f.label :city %>
    <br />
    <%= f.text_field :city %>
    </li>
    <li>
    <%= f.label :state %>
    <br />
    <%= f.collection_select(:state_id, Country.find_by_name("United States").states.sort, :id, :name) %>
    </li>
    <li>
    <%= f.label :zipcode %>
    <br />
    <%= f.text_field :zipcode %>
    </li>
  </ul>

  <table id="hours">
    <%= f.fields_for @pickup_location.hours.new do |f| %>
      <% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |day| %>
        <%= render :partial => "admin/suppliers/hours_form", :locals => { :day => day, :f => f } %>
      <% end %>
    <% end %>
  </table>

  <%= f.submit "Save" %>
  <%= t('or') %> <%= link_to t("cancel"), "#", :id => "cancel_link" %>

<% end %>

