
<h2>Welcome back <%= @user.first_name %> <%= @user.last_name %></h2>
<p />
<h3>Recent Invoices:</h3>

<% @invoices.each do |invoice| %>

<div class="supplier_invoice">
  <h3>Order number: <%= invoice.order.number %></h3>
  <h3>Invoice number: <%= invoice.id %></h3>
  <h4>Received on: <%= invoice.created_at.strftime("%A, %D at %r") %></h4>
  <table class="index">
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Product price</th>
      <th>Totals</th>
    </tr>

    <% invoice.items.each do |item| %>
      <tr bgcolor="#F9FFB9">
        <td width="150px"><%= item.product.name %></td>
        <td width="75px"><%= item.quantity %></td>
        <td width="150px"><%= number_to_currency(item.product.price) %></td>
        <td><%= number_to_currency(item.product.price * item.quantity) %></td>
      </tr>
    <% end %>
    <tr>
      <td>Order-total</td>
      <td></td>
      <td></td>
      <td><%= number_to_currency(invoice.invoice_total) %></td>
    </tr>
    <tr>
      <td>-(Freshfully fee)</td>
      <td></td>
      <td></td>
      <td><%= number_to_currency(invoice.invoice_total * 0.16) %></td>
    </tr>
    <tr bgcolor="#CCFFB3">
      <td>Sub-total</td>
      <td></td>
      <td></td>
      <td><%= number_to_currency(invoice.invoice_total * 0.84) %></td>
    </tr>

  </table>
</div>
<% end %>

<p />

<h3>Vendor pickup locations:</h3>
<br />
<%= link_to "Pickup Options", new_dash_pickup_path %>
<br />
<%= link_to "New Location", new_dash_pickup_location_path %>

