<h1>
  <%= t("pickups") %>
</h1>

<% @suppliers.each do |supplier| %>
  <table class="admin-report" width="545">
    <thead>
      <tr>
        <th width="300px">
          <%= supplier.title %>
        </th>
        <th width="600px">
          <%= t("pickup_address") %>
        </th>
        <th width="300px">
          <%= t("edit") %>
        </th>
        <th>
          <%= t("delete") %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% supplier.pickups.each do |pickup| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td>
            <%= link_to pickup.pickup_location.location_name, admin_pickup_location_path(pickup) %>
          </td>
          <td>
            <%= pickup.pickup_location.address1 %>, <%= pickup.pickup_location.city %>, <%= State.find_by_id(pickup.pickup_location.state_id) %>
          </td>
          <td>
            <%= link_to "edit", edit_admin_pickup_location_path(pickup.pickup_location) %>
          </td>
          <td>
            <%= button_to "delete", admin_pickup_path(pickup), :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to t("new_pickup"), new_admin_pickup_path %>
