<h1>Products Pickup Settings</h1>
<h1>Pickups</h1>

<div class="locations">
  <% if @pickups.empty? %>
    <p>No Pickup Locations Specified</p>
  <% else %>
    <ul>
      <%= render @pickups %>
    </ul>
  <% end %>
</div>

<div>
  <% form_tag({:controller => "pickups", :action => "create"}, :method => :post) do %>
    <% if current_user.has_role?("vendor") %>
      <%= hidden_field_tag :supplier_id, current_user.supplier.id %>
    <% else %>
      <%= select_tag :supplier_id, options_from_collection_for_select(@suppliers, "id", "title") %>
    <% end %>
    <%= select_tag :pickup_location_id, options_from_collection_for_select(@locations, "id", "location_name") %>
    Dates: <%= text_field :dates, nil, :id => :dates %> (click in the field to add)  
    <br />
    <%= submit_tag "Save" %>
    <br />
  <% end %>
</div>

<%= link_to "Create new location", new_admin_pickup_location_path %>

<script type="text/javascript">
  $("#dates").multiDatesPicker();
</script>
