<div class="deliveries">

  <% form_tag do %>

    <div class="shipping_methods">
      <div id="methods">
        <p class="field radios">
        <% @order.rate_hash.each do |shipping_method| %>
          <label>
            <%= radio_button(:order, :shipping_method_id, shipping_method[:id]) %>
            <%= shipping_method[:name] %> <%= number_to_currency shipping_method[:cost] %>
          </label><br />
        <% end %>
        </p>
      </div>
      <% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
        <p id="minstrs">
        <%= form.label :special_instructions, t("shipping_instructions") %><br />
        <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
        </p>
      <% end %>
    </div>


    <% @suppliers.each do |s| %>
      <div class="delivery">
        <% supplier = Supplier.find_by_id(s) %>
        <% supplier_products = @order.line_items.select{|p| p.product.supplier_id == supplier.id} %>

        <h3><%= supplier.title %></h3>

        <% if !supplier.shipping_methods.empty? %>
          <%= label_tag(:pickup, "Ship") %>
          <%= radio_button_tag("deliveries[#{s}]", 0, true, :class => "radio_ship") %>
        <% end %>

        <% if !supplier.pickups.empty? %>
          <%= label_tag(:pickup, "Pickup") %>
          <% if !supplier.shipping_methods.empty? %>
            <%= radio_button_tag("deliveries[#{s}]", 1, false, :class => "radio_pickup") %>
          <% else %>
            <%= radio_button_tag("deliveries[#{s}]", 1, true, :class => "radio_pickup") %>
          <% end %>

        <% end %>

        <% if !supplier.pickups.empty? %>
          <div class="pickup_locations" id="pickup_locations[<%= s %>]">
            <h3>Choose your pickup location:</h3>
            <%= select_tag "pickups[#{supplier.id}]", options_from_collection_for_select(supplier.pickups, "id", "name") %>
          </div>
        <% end %>
        <% if !supplier.shipping_methods.empty? %>
          <div class="shipping_method" id="shipping_method[<%= s %>]">
            <h3>Choose your shipping method:</h3>
            <%= select_tag "shipping_method[#{supplier.id}]", options_from_collection_for_select(supplier.shipping_methods, "id", "name") %>
          </div>
        <% end %>


        <div class="supplier_products">
          <table class="index">
            <tr>
              <th>Product Name</th>
              <th>Product price (ea)</th>
              <th>Quantity</th>
              <th>Quantified price</th>
            </tr>
            <% supplier_products.each do |s| %>
              <tr class="products">
                <td width="130px"><%= s.product.name %></td>
                <td width="50px"><%= number_to_currency(s.variant.price) %></td>
                <td width="50px"><%= q = s.quantity %></td>
                <td width="150px"><%= number_to_currency(s.variant.price * q)  %></td>
              </tr>
            <% end %>
          </table>
        </div>

      </div>
    <% end %>

    <div class="form-buttons">
      <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>"/>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    $(".radio_pickup").each(function() {
      if ($(this).attr("checked") == "checked") {
        $(this).parent().children(".pickup_locations").last().show();
        $(this).parent().children(".shipping_method").last().hide();
        } else {
        $(this).parent().children(".pickup_locations").last().hide();
        $(this).parent().children(".shipping_method").last().show();
      }
      $(this).click(function() {
        $(this).parent().children(".pickup_locations").last().show();
        $(this).parent().children(".shipping_method").last().hide();
      });
    });
    $(".radio_ship").each(function() {
      $(this).click(function() {
        $(this).parent().children(".pickup_locations").last().hide();
        $(this).parent().children(".shipping_method").last().show();
      });
    });
  });
</script>


