<h2>Hours</h2>
<table id="shop_hours" class="drop_light">
  <tr>
    <th>Sunday:</th>
    <th>Monday:</th>
    <th>Tuesday:</th>
    <th>Wednesday:</th>
    <th>Thursday:</th>
    <th>Friday:</th>
    <th>Saturday:</th>
  </tr>
  <tr>
    <td><%= supplier.hours.first.sunday %></td>
    <td><%= supplier.hours.first.monday %></td>
    <td><%= supplier.hours.first.tuesday %></td>
    <td><%= supplier.hours.first.wednesday %></td>
    <td><%= supplier.hours.first.thursday %></td>
    <td><%= supplier.hours.first.friday %></td>
    <td><%= supplier.hours.first.saturday %></td>
  </tr>
</table>

