<div class="search-sidebar">
  <%= search_form_for @q do |f| %>
    <p>
    <%= f.label :search_vendors %>
    <%= f.text_field :name_or_title_cont %>
    </p>
    <p class = "button"><%= f.submit "Search" %></p>
  <% end %>
</div>
<div class="search-list">
  <%= render :partial => "spree/suppliers/supplier_list", :collection => @suppliers, :as => :supplier %>
</div>
<div class="clear"></div>
