<div id="image_upload">
  <%= form_for(:image, :url => { :controller => 'suppliers', :action => 'upload_image', :method => :post}, :html => { :multipart => true }) do |f| %>
    <%= render :partial => 'upload_image', :locals => { :f => f }  %>
    <p class="form-buttons">
      <% if @status == true %>
        <button id="upload" type="submit">
         <span>Upload Image</span>
       </button>
      <% else %>
        <%= button t("upload") %>
      <% end %>
    <%= t('or') %> <%= link_to t("cancel"), "#", :id => "cancel_link" %>
    </p>
  <% end %>

  <h3>Current images:</h3>
  <% @supplier.images.each do |image| %>
    <ul>
    <li><%= sized_image(image, '100x100#') %></li>
    <li><%= link_to  "destroy", { :action => 'destroy_image', :id => image.id}, :method => :delete %></li>
    <% if image.logo == true %>
      <li>This image is the current logo.</li>
    <% else %>
       <li><%= link_to "appoint logo", { :action => "make_logo", :id => image.id} %></li>
    <% end %>
    <% if image.featured == true %>
      <li>This image is currently featured</li>
    <% else %>
       <li><%= link_to "make featured", { :action => "feature_image", :id => image.id} %></li>
    <% end %>

    </ul>
  <% end %>
  <script>
    $("#upload").click(function(event){
      event.preventDefault();
      alert("You are not allowed to create an image without first creating a supplier");
    });
    </script>
</div>
