<h2>Supplier Info: <%= supplier.title %></h2>
<ul>
  <li><b>Company name:</b> <%= supplier.title %></li>
  <li><b>Vendor page:</b> <%= link_to supplier.title, supplier_path(supplier) %></li>
  <li><b>Description:</b> <%= supplier.notes %></li>
  <li><b>Phone:</b> <%= supplier.phone %></li>
  <li><b>Address1:</b> <%= supplier.address1 %></li>
  <li><b>Town:</b> <%= supplier.town %></li>
  <li><b>State:</b><%= State.find_by_id(supplier.state).name %></li>
  <li><b>Zip-code:</b><%= supplier.zip_code %></li>
  <li><b>Fax:</b><%= supplier.fax %></li>
  <li><b>Email:</b><%= supplier.email %></li>
  <li><b>Facebook:</b><%= supplier.facebook %></li>
  <li><b>Twitter:</b><%= supplier.twitter %></li>
  <li><b>Website:</b><%= supplier.website %></li>
  <li><b>Product Solds:</b><%= supplier.products_sold %></li>
</ul>
<h2>Proprietor Info</h2>
<ul>
  <li><b>Owner Name:</b><%= supplier.name %></li>
  <li><b>Owner Description:</b><%= supplier.description2 %></li>
</ul>

<%= render :partial => "shared/hours", :locals => {:supplier => @supplier} %>
<h2>Images</h2>
<% supplier.images.each do |image| %>
  <ul>
    <li><%= sized_image(image, '100x100#')%></li>
    <% if image.logo == true %>
      <li>This image is the current logo</li>
    <% end %>
    <% if image.featured == true %>
      <li>This image is currently featured</li>
    <% end %>
  </ul>
<% end %>

