<div id="vendor_sidebar">
  <div class="vendor-logo">
    <% @supplier.images.each do |image| %>
      <% if image.logo == true %>
        <img src="<%= image.attachment.url %>" <% if image.alt %>alt="<%= image.alt %>"<% end %> width="100%"/>
      <% end %>
    <% end %>
  </div><!-- END div.vendor-logo -->
  <div class="polaroid drop_light">
    <div class="polaroid_image">
      <%= sized_image(@supplier.images.first, '275x220#') %>
      <!--%= image_tag 'default_vendor.jpg'%-->
    </div>
    
  </div>
  <h2>Vendor Location</h2>  
  <% if user_signed_in? %>
    <% if !current_user.bill_address.nil? %>
      <%= gmaps({"direction" => {"data" => { "from" => current_user.user_address, "to" => @supplier.gmaps4rails_address }, "options" => {"display_panel" => true, "panel_id" => "instructions"}}}) %>
      <button id="get_directions">Get Directions</button>
    <% end %>
    <div style="display: none" class="directions" id="instructions" >
    </div>
  <% else %>
    <%= gmaps({
      "map_options" => {"auto_adjust" => true, "auto_zoom" => false, "zoom" => 15},
      "markers" => {"data" => @json }
    }) %>
  <% end %>
  <%#= render "messages/message_form" %>

</div>

<div id="left_content">
  <div class="breadcrumb">
    <ul>
      <li><%= link_to 'Home', '/' %></li>
      <li>&#187; </li>
     <li><%= link_to 'Vendors', suppliers_path %></li>
     <li>&#187; </li>
     <li><%= @supplier.title %></li>
    </ul>
    <div class="social">
     <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      </script>
<g:plusone size="medium" ></g:plusone>
      <div class="fb-like" data-href="<%= request.url %>" data-send="true" data-layout="button_count" data-width="100" data-show-faces="false"></div>
     </div><!-- END div.social -->

  </div>
   
      <h2><%= @supplier.title %></h2>
    
  <div id="vendor-notes">
    <%= @supplier.notes %>
    
  </div>

  <div class="vendor-info">
    <h2>Info:</h2>
    <ul>
      <% if @supplier.phone%>
      	<li>Phone: <%= @supplier.phone %></li>
      <% end %>
      <% if @supplier.website %>
        <li>Website: <%= link_to @supplier.website, @supplier.website %></li>
      <% end %>
      <li><%= @supplier.address1 %></li>
      <li><%= @supplier.address2 %></li>
      <% if @supplier.town %><li><%= @supplier.town %>, <% end %><%= @supplier.state.name %></li>
      <% if @supplier.zip_code %><li><%= @supplier.zip_code %><% end %>
    </ul>
  </div><!-- END div.vendor-info -->
  
  <% if @supplier.name %>
  <div class="vendor-proprietor">
    <h2>Owner/Proprietor Info:</h2>
      <h4>Owner/Proprietor:</h4>
      <%=  @supplier.name %>
      
      <% if @supplier.description2 %>
        <h4>Bio:</h4>
        <%= @supplier.description2 %>
      <% end %>
  </div>
  <% end %>
  
  <div class="shop-hours">
    <%= render :partial => "shared/hours", :locals => {:supplier => @supplier} %>
  </div><!-- END div.shop-hours -->
  
  <div class="vendor-products">
    <h2 class="products">Products</h2>
    <%= render "shared/products_vendor", :products => @products, :taxon => @taxon %>
  </div><!-- END div.vendor-products -->
</div>


<script>
  $("button").click(function () {
    $("div.directions").toggle();
  });
</script>



